* {
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    
    @media only screen and (min-width: $bp-smallest) { 
        font-size: 46.5%;
    }

    @media only screen and (min-width: $bp-smallest) {
        font-size: 50.5%;   
    }

    @media only screen and (min-width: $bp-medium-small) {
        font-size: 55.5%;
    }

    @media only screen and (min-width: $bp-medium) {
        font-size: 62.5%;
    }

}

body {
    font-family: $base-font;
    font-size: 1.2rem;
    background-color: $color-base-hex;
}

ul {
    list-style: none;
    display: flex;
}
