* {
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: $bp-medium) {
        font-size: 58.5%; 
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 50.5%; 
    }
}

body {
    font-family: $base-font;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    display: flex;
}
