.hero-container {
    height: 100vh;
    background: $hero-gradient;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // @media only screen and (max-width: $bp-small) {
    //     justify-content: space-evenly;
    // }
    
    @media only screen and (min-width: $bp-smallest) {
        justify-content: center;
    }

    .titles {
        h1 {
            font-family: $header-font;
            
            @media only screen and (min-width: $bp-smallest) {
                font-size: 3rem;
            }
            
            @media only screen and (min-width: $bp-small) {
                font-size: 4rem;
            }

            @media only screen and (min-width: $bp-medium-small) {
                font-size: 5rem;
            }
            
            @media only screen and (min-width: $bp-medium) {
                font-size: 6rem;
            }
        }

        h3 {
            text-align: right;

            @media only screen and (min-width: $bp-smallest) {
                font-size: 1.8rem;
            }

            @media only screen and (min-width: $bp-small) {
                font-size: 2rem;
            }



        }

        h1, h3 {
            @include titleFormat;
        }
    }

    .movie-form {
        padding: 4rem 0;
        width: 40%;

        @media only screen and (min-width: $bp-smallest) {
            display: flex;
            width: 65%;
            justify-content: center;
        }

        .movie-input {
            width: 80%;
            padding: 1rem;
            outline: none;
            border-radius: 1rem;
            background: transparent;
            border: 2px solid $color-complement-hex;
            color: $color-base-hex;
            position: relative;

            ::placeholder {
                font-size: 1.4rem;
                padding-left: 2rem;
            }

            @media only screen and (min-width: $bp-smallest) {
                width: 60%;
            }
        }

        .btn-movie {
            background: transparent;
            border: 2px solid $color-complement-hex;
            padding: 1rem;
            margin-left: .4rem;
            border-radius: 1rem;
            text-transform: uppercase;
            color: $color-base-hex;
            text-shadow: 0 5px 5px #000;
            cursor: pointer;
        } 
    }
}
