.section__movie {
    height: 100vh;
    display: flex;


    .movie__poster {
        background: $movie-gradient;
        background-size: cover;
        width: 30%;
        position: relative;
        box-shadow: 5px 0px 10px black;

        img {
            margin: 10rem 5rem;
            box-shadow: $shadow-1;
            border-radius: 10px;
        }

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            .movie__poster {
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    .movie__info {
        position: relative;
        background: linear-gradient(to top,rgba(0, 173, 181, .4), rgba(40, 223, 153, .8), rgba(71, 0, 216, .5));
        height: 25vh;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .45);

        .movie__title {
            

            .type {
                    margin-left: 10vw;
                margin-top: 1rem;
                font-size: 1.3rem;
            }
            
            h2 {
                // background-image: linear-gradient(to bottom,rgba(0, 173, 181, .4), rgba(0, 173, 181, .7));
                background-color: rgba(255, 255, 255, .25);
                border: 1px solid rgba(255, 255, 255, .25);
                padding: 1.3rem 2rem;
                box-decoration-break: clone;
                max-width: 50%;
                font-size: 3rem;
                color: $color-base-hex;
                text-shadow: 2px 2px 1px rgba(0,0,0,.7);
                box-shadow: 0 0 10px 1px rgba(0, 0, 0, .45);
                border-radius: .5rem;
                text-align: center;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) skewY(-6deg);
            }
        }
    }

    .movie__wrapper {
        display: flex;
        justify-content: space-around;
    }

    .movie__wrapper--1 {
        margin-top: 20rem;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .45);
        padding: .5rem 0;
        font-size: 1.4rem;
        
        .movie__genre {
            ul {
                
                li {
                    padding: 0 1rem;
                }
            }
        }
    }
    
    .movie__wrapper--2 {
        margin-top: 10rem;
        flex-direction: column;
        align-items: center;
        
        .movie__actors ul {
            // display: flex;

            li {
                padding: 0 1rem; 
            }
        }

        .movie__description {
            font-size: 1.9rem;
            width: 80%;
            margin-left: 10%;
        }

        .movie__director {
            padding: 5rem 0;
        }
    }

    .movie__wrapper--3 {
        margin-top: 12rem;
        flex-direction: row;

        .movie__ratings {
            ul {
                li {
                    padding: 0 1rem;
                }
            }
        }
    }
}